/src/php/lumen/vendor
/src/php/lumen/.idea/
/src/php/lumen/Homestead.json
/src/php/lumen/Homestead.yaml
/src/php/lumen/.env
serverless-output.yaml
/dynamodb_local_latest
/.idea/
/src/php/lumen/php-cli.ini